body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/alina-grubnyak-ZiQkhI7417A-unsplash.jpg'); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  padding-top: 7%;
}

.fa-stream{
  color: black;
}
.navbar-light .navbar-toggler{
  border-color: transparent;
  font-size: 25px;
}
.btn-dark{
  background-color: black;
  margin-bottom: 30px;
}

.card-title {
  text-align: center;
}

.fa-icon.fa-icon-2x{
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  color: black;
  display: contents;
}
header, .form-input, .row, .card{
  background-color: #f8f9fa !important
}
.card {
  border: none;
  border-radius: 0;
}
hr {
 
  border-top: 1px solid rgba(0,0,0,.1);
  padding: 0;
  width: 80%;
  display: -webkit-inline-box;
} 



/* index */

.index{
  padding: 61px;
}

img {
  width: 100%;
  padding-top: 50px;
}
.card-text{
  text-align: center;
}

/* skills */
.skills{
  padding-top: 10px;
  padding-bottom: 10px;
}

.skills-ul {
  width: 50%;
  margin: auto;
}

.skills-ul .skills-item {

  background-color: #EDEDED;
  padding: 12px;
  text-align: center;
  margin: 10px;
}

.skills_row {
  display: block;
}

  /* projects */
  .projects{
    padding: 29px;
  }
  .row{
    margin: 0;
  }
  .carousel-control-next, .carousel-control-prev {
  top: 20%;
  bottom: 30%;
  z-index: 1;
  width: 5%;
  background-color: grey;
  }
  .arrow{
    font-size: 1em;;
  }
 
  #carousel-icon{
  width: 60px;
  height: 60px;
  line-height: 50px;
  font-size: 40px;
  color: black;
  display: contents;
  }


.card-body{
  padding-top: 50px;
  justify-content: center;
  display: grid;
}

.visually-hidden{
  display: none;
}
.title-description {
    padding-bottom: 20px;
}
.card-text{
    padding-bottom: 20px
}

#carousel-fab {
  text-align: center;
  display: block;
  } 

p{
  margin: 0;
} 

/* contacto */
.contact{
  padding: 49.5px;
}

.form-input {
    width: 80%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 3px;
  }

  /* footer */
  footer{
    display: flex;
    justify-content: center;
  }

  /* Thank you page */
  .thanks{
    height: 640px;
  }